.blue-section {
  background: #674bff;
}

#title {
  padding-left: 10%;
}

.title-image {
  width: 25%;
  max-width: 250px;
  transform: rotate(25deg);
  transition: 0.31s;
  position: absolute;
  right: 25%;
}
.navbar-brand {
  font-family: cursive;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-link {
  font-family: cursive;
  font-size: 1.2rem;
}
.navbar-nav {
  padding-right: 25%;
}

.icon {
  color: #674bff;
}

.feature-element {
  padding: 4.5%;
}
.feature-title {
  font-weight: bold;
}
#press {
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  padding: 1% 1%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.price {
  padding: 3% 2%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

#footer {
  padding: 7% 15% 0;
  margin-bottom: 0;
  background-color: #fff;
}
.social-icon {
  margin: 0% 2% 3% 2%; /*  margin: top right bottom left */
  text-align: center;
  color: #292e32;
}
.social-copy {
  margin-bottom: 10%;
  font-size: small;
}
.cta-title {
  font-size: 3.5em;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 4%;
  color: #fff;
}
.big-font {
  font-size: 4em;
  line-height:1.5 ;
  font-weight: bold;
  color: #fff;
}

.download-button {
  margin: 3% 2% 5% 0;
}

.carousel-item {
  padding: 7% 15%;
}
.testimonial-image {
  width: 15%;
  border-radius: 125%;
  margin: 20px;
}
.testimonial-title {
  font-size: 34px;
  font-weight: 700;
  color: black;
}
.testimonial-subtitle {
  color: white;
}

@media (max-width: 1024px) {
  .title-image {
    width: 100%;
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}
